body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EEDBBE;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C2D6C5;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    display: block;
}

.logo img {
    height: 80px;
    width: auto;
}

.nav-links {
    display: flex;
}

.nav-links a {
    display: block;
    font-size: 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    height: 50px;
    width: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3E4F44;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #C2D6C5;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 13px;
    right: 10px;
}

.sidenav .closebtn img {
    height: 30px;
    width: auto;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #C2D6C5;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.card img {
    height: 150px;
    width: auto;
}

@media screen and (max-width: 600px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .menu-icon {
        display: block;
    }

    .logo img {
        height: 50px;
        width: auto;
    }
}

/* for sections */
.section {
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* for home */

#home {
    text-align: center;
}

#home img {
    height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#home h1 {
    font-size: 60px;
    font-family: 'Lily Script One', cursive;
    color: #4EA93C;
    margin: 0;
}

#home p {
    font-size: 48px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: #16BBB5;
    margin: 0;
}

@media screen and (max-width: 600px) {
    #home {
        height: 78vh;
        width: auto;
    }

    #home h1 {
        font-size: 20px;
        margin: 5px;
    }

    #home p {
        font-size: 16px;
        margin: 5px;
    }

    #home img {
        height: 200px;
        width: auto;
    }
}